.main-container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
} 

.main-box {

    padding: 80px 0px;

    width: 300px;
    height: 100%;

    text-align: left;
    
}

.greeting-box {
    text-align: center;
}

.img-box {
    align-items: center;
    width: 300px;
}

.logo-img{
    width: 300px;
    
}

.id-input,.pw-input {
    width: 300px;
    height: 20px;
    
    border: rgba(165, 162, 162, 0.897) solid 1px;
    border-radius: 2px;
}

.btnzone {
    text-align: right;
    
    display: flex;
    float: right;

    margin: 10px 0px;

}

.login-btn, .regist-btn {
    width: 80px;
    height: 25px;

    margin: 0px 5px;

    border: none;
    border-radius: 2px;
    color:white;
    background-color: rgb(214, 35, 35);
}