* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: rgb(135, 132, 132);
}

a:hover {
    color: rgb(238, 14, 96);

}

li {
    list-style-type: none;
}

.btn {
    width: 200px;
    height: 40px;
}

.btn-box {
    display: flex;
    justify-content: space-around;
    
    
}

