*{
    padding : 8px;
}
html,body, .container {
    padding: 0px;
}

.modal-wrap input[type=radio]+label {
    width: 18%;
    text-align: center;
    margin: 0px 5px;
}

.modal-coldhotbox-radios,
.modal-icebox-radios,
.modal-sugarbox-radios {
    display: flex;
}

.option-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal-imagebox{
    width: 100px;
}

.modal-main-image {
    width: 80px;
    height: 100px;
}

.modal-titlebox{
    width: 400px;
}

.modal-pdtname {
    padding-right: 60px;
    font-size: x-large;
}

.modal-price {
    font-size: x-large;
    font-weight: 600;
}

.modal-option{
    padding-right: 160px;
}

p{
    font-size: 18px;
    font-weight: 300;
    color : rgb(214, 35, 35);

    margin: 5px;
}

.modal-coldhotbox input[type=radio],
.modal-icebox input[type=radio],
.modal-sugarbox input[type=radio] {
    display: none;
}
.modal-coldhotbox input[type=radio]+label,
.modal-icebox input[type=radio]+label,
.modal-sugarbox input[type=radio]+label {
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(198, 198, 198);
}
.modal-coldhotbox input[type=radio]:checked+label,
.modal-icebox input[type=radio]:checked+label,
.modal-sugarbox input[type=radio]:checked+label {
    border: 3px solid red;
}

.modal-toppingbox input[type=checkbox] {
    display: none;
}
.modal-toppingbox input[type=checkbox]+label {
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(198, 198, 198);
}
.modal-toppingbox input[type=checkbox]:checked+label {
    border: 3px solid red;
}


.cup, .ice, .sugar, .topping{
    display: inline-block;
    width: 80px;
    height: 100px;

    font-size: 10px;
    text-align: center;
}

.option-img {
    width: 100%;
    height: 60px;
}

.modal-cancel {
    color : rgb(214, 35, 35);
    border: 1px solid rgb(167, 42, 42);
}

.modal-addcart {
    background-color: rgb(214, 35, 35);
    color: white;
    border: 1px solid rgb(167, 42, 42);
}