*{
    padding : 8px;
}

.option-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal-imagebox{
    width: 100px;
}

.modal-main-image {
    width: 80px;
    height: 100px;
}

.modal-titlebox{
    width: 400px;
}

.modal-pdtname {
    padding-right: 60px;
    font-size: x-large;
}

.modal-price {
    font-size: x-large;
    font-weight: 600;
}

.modal-option{
    padding-right: 160px;
}

p{
    font-size: 18px;
    font-weight: 300;
    color : rgb(214, 35, 35);

    margin: 5px;
}

.cup, .ice, .suger, .topping{
    display: inline-block;
    width: 80px;
    height: 100px;

    font-size: 10px;
    text-align: center;
}

.option-img {
    width: 100%;
    height: 60px;
}

.modal-cancle {
    color : rgb(214, 35, 35);    
    border: 1px solid rgb(167, 42, 42);
}

.modal-addcart {
    background-color: rgb(214, 35, 35);
    color: white;
    border: 1px solid rgb(167, 42, 42);
}