.topping-slideShow {
    width: 600px;
    height: 150px;
    
    position: relative;
    overflow: hidden;
}
.modal-toppingbox-slides {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slides {
    position: absolute;
    left: 3.5%;
    top: 0;
    width: 600px;
    transition: left 0.5s ease-out;

    list-style: none;

}

.slides li:first-child {
    /* margin-left: 50px; */
}

.slides li:not(:last-child) {
    float: left;
    /* margin-right: 50px; */
}

.slides li {
    float: left;
    padding: 8px 0px;
}
.slides input[type=checkbox]+label {
    
    margin: 0px 5px;
}

.moving-left {
    position: absolute;
    text-align: center;

    top: 50%;
    font-size: 1.3em;

    cursor: pointer;
    left: 0;

    color: rgb(214, 35, 35);
}
.moving-right {
    position: absolute;
    text-align: center;

    top: 50%;
    font-size: 1.3em;
    
    cursor: pointer;
    right: 0px;

    color: rgb(214, 35, 35);
}

