<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/account/login.css">
    <link rel="stylesheet" href="/static/css/account/register.css">
    <link rel="stylesheet" href="/static/css/common.css">

</head> 
<body>
    <div class="main-container">
        <div class="main-box">
        <div class="img-box"><img class="logo-img"src="/static/images/logo1.png"> </div>

        <p class="greeting-box"> 신규 회원가입 </p>

        
            <div class="register-info-box">
                <div class="id-box">
                    <div class="id-title"> ID </div>
                    <div>
                        <input class="account-input" type="text" name="user_id">
                    </div>
                </div>
                <div class="email-box">
                    <div class="email-title"> E-mail </div>
                    <div>
                        <input class="account-input" type="email" name="email">
                    </div>
                </div>
                <div class="pw-box">
                    <div class="pw-title"> Password </div>
                    <div>
                        <input class="account-input" type="password" name="password">
                    </div>
                </div>
                <div class="name-box">
                    <div class="name-title"> Name </div>
                    <div>
                        <input class="account-input" type="text" name="name">
                    </div>
                </div>
                <div class="btnzone">
                    <button class= "account-button" value="submit" type="submit"> 확인 </button>
                </div>
            </div>
        
        </div>

    </div>



    
</body>
<script src="/static/js/account/regist.js"></script>
</html>