<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <script src="https://kit.fontawesome.com/770fb89c8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/main.css">
    
</head>
<body>
     <div class="container">
        <div class="header">
            <div>
                주문하려면 메뉴를 클릭해 주세요.
            </div>
            <div>
                <i class="fa-sharp fa-solid fa-house">시작화면</i>
                
            </div>
        </div>
        <div class="nav">
            <nav>
                <ul class="navbar-menu">
                    <li><a href="">EVENT</a></li>
                    <li><a href="">시즌 스페셜</a></li>
                    <li><a href="">베스트콤비</a></li>
                    <li><a href="">밀크티</a></li>
                    <li><a href="">쥬얼리</a></li>
                    <li><a href="">스무디</a></li>
                    <li><a href="">오리지널티</a></li>
                    <li><a href="">과일믹스</a></li>
                    <li><a href="">커피</a></li>
                    <li><a href="">베이커리&스낵</a></li>
                    <li><a href="">병음료</a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="product-list-wrap">
                <div class="product-list">
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div> 
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                </div>
                <div class="product-list">
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div> 
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                </div>
                <div class="product-list">
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div> 
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                </div>
                <div class="product-list">
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div> 
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                </div>
                <div class="footer-btn-box">
                    <button class="btn pre-button">이전</button>
                    <div class="circles">
                        <i class="circle1 fa-solid fa-circle"></i>
                        <i class="circle2 fa-solid fa-circle"></i>
                    </div>
                    <button class="btn next-button">다음</button>
                </div>
                
                
            </div>
            <div class="shopping-basket">
                <div class="basket-header">
                    <i class="fa-solid fa-cart-shopping">장바구니</i>
                </div>
                <div class="basket-list">
                    <div>
                        <button class="btn delete-button" type="button">전체삭제</button>
                    </div>
                    <div class="basket-product-list">
                        <div class="basket-product"></div>
                        <div class="basket-product"></div>
                        <div class="basket-product"></div>
                        <div class="basket-product"></div>
                        <div class="basket-product"></div>
                    </div>
                    <div class="total">
                        <table>
                            <tr class="total-count">
                                <td><strong><span> 0 </span></strong>개</td>
                            </tr>
                            <tr class="total-price">
                                <td><strong><span> 0 </span></strong>원</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <button class="btn pay-button" type="button">
                            <div><i class="card-image fa-solid fa-credit-card"></i></div>
                            <div>주문하기</div>
                        </button>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</body>


</html>