<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <script src="https://kit.fontawesome.com/770fb89c8e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/modal.css">
    <link rel="stylesheet" href="/static/css/option.css">
    <link rel="stylesheet" href="/static/css/slideShow.css">
    
</head>
<body>
    <div class="container">
        <div class="header">
            <div>
                주문하려면 메뉴를 클릭해 주세요.
            </div>
            <div>
                <a class ="atag-white-btn"href="banner.html"><i class="fa-sharp fa-solid fa-house">시작화면</i></a>
                
            </div>
        </div>
        <div class="nav">
            <nav>
                <ul class="navbar-menu">
                    <li><a href="">EVENT</a></li>
                    <li><a href="">시즌 스페셜</a></li>
                    <li><a href="">베스트콤비</a></li>
                    <li><a href="">밀크티</a></li>
                    <li><a href="">쥬얼리</a></li>
                    <li><a href="">스무디</a></li>
                    <li><a href="">오리지널티</a></li>
                    <li><a href="">커피</a></li>
                    <li><a href="">병음료</a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="product-list-wrap">
                <div class="product-list">
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div> 
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                </div>
                <div class="product-list">
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div> 
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                </div>
                <div class="product-list">
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div> 
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                </div>
                <div class="product-list">
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div> 
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                    <div class="product">
                        <div class="product-size">&nbsp; Large</div>
                        <div class="product-image">
                            <img src="/static/images/product/블랙 밀크티+펄L.png">
                        </div>
                        <div class="product-info product-name">블랙밀크티 + 펄L</div>
                        <div class="product-info product-price">4,400원</div>
                    </div>
                </div>
                <div class="footer-btn-box">
                    <button class="btn pre-button">이전</button>
                    <div class="circles">
                        <i class="circle1 fa-solid fa-circle"></i>
                        <i class="circle2 fa-solid fa-circle"></i>
                    </div>
                    <button class="btn next-button">다음</button>
                </div>
                
                
            </div>
            <div class="shopping-basket">
                <div class="basket-header">
                    <i class="fa-solid fa-cart-shopping">장바구니</i>
                </div>
                <div class="basket-list">
                    <div>
                        <button class="btn delete-button" type="button">전체삭제</button>
                    </div>
                    <div class="basket-product-list">
                        <div class="basket-product"></div>
                        <div class="basket-product"></div>
                        <div class="basket-product"></div>
                        <div class="basket-product"></div>
                        <div class="basket-product"></div>
                    </div>
                    <div class="total">
                        <table>
                            <tr class="total-count">
                                <td><strong><span> 0 </span></strong>개</td>
                            </tr>
                            <tr class="total-price">
                                <td><strong><span> 0 </span></strong>원</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <button class="btn pay-button" type="button">
                            <div><i class="card-image fa-solid fa-credit-card"></i></div>
                            <div class="pay-button-content"><a class ="atag-white-btn" href="orderCheck.html" >주문하기</a></div> 
                        </button>
                    </div>
                </div>
            </div>
        
        </div>



            <!-- modal 영역 -->
<div class="modal-bg" onClick="javascript:popClose();"></div>
<div class="modal-wrap">

    <div class="option-header">
        <div class="modal-imagebox">
            <img class="modal-main-image" src="/static/images/product/블랙 밀크티+펄L.png">
        </div>
        <div class="modal-titlebox">
            <span class="modal-pdtname">타로 밀크티 + 펄L</span>
            <span class="modal-price">5600원</span>
        
        </div>
    </div>

    <div class="modal-optionbox"> 
        <span class="modal-option">옵션 : COLD(포장)/Regular Ice/50%</span>
        <span class="modal-option-price"> 0원</span>
    </div>
    
    <div class="modal-coldhotbox">
        <p>COLD/HOT (필수,1/1)</p>
        
        <div class="modal-coldhotbox-radios">
            <input type="radio" id="coldhot1" name="coldhots">
            <label for="coldhot1">
                <span class="cup in-cold">
                    <img class="option-img" src="/static/images/공차옵션사진/COLD HOT/매장(cold).png">COLD(매장)
                </span>
            </label>
            <input type="radio" id="coldhot2" name="coldhots">
            <label for="coldhot2">
                <span class="cup in-cold">
                    <img class="option-img" src="/static/images/공차옵션사진/COLD HOT/포장(cold).png">COLD(포장)
                </span>
            </label>
            <input type="radio" id="coldhot3" name="coldhots">
            <label for="coldhot3">
                <span class="cup in-cold">
                    <img class="option-img" src="/static/images/공차옵션사진/COLD HOT/매장(hot).png">HOT(매장)
                </span>
            </label>
            <input type="radio" id="coldhot4" name="coldhots">
            <label for="coldhot4">
                <span class="cup in-cold">
                    <img class="option-img" src="/static/images/공차옵션사진/COLD HOT/포장(hot).png">HOT(포장)
                </span>
            </label>
        </div>
    </div>

    <div class="modal-icebox">
        <p>ICE (필수,1/1)</p>

        <div class="modal-icebox-radios">
            <input type="radio" id="ice1" name="ices">
            <label for="ice1">
                <span class="ice less-ice">
                    <img class="option-img" src="/static/images/공차옵션사진/얼음양/Less Ice.png">Less Ice
                </span>
            </label>
            <input type="radio" id="ice2" name="ices">
            <label for="ice2">
            <span class="ice regular-ice" >
                <img class="option-img" src="/static/images/공차옵션사진/얼음양/Regular Ice.png">Regular Ice
            </span>
            </label>
            <input type="radio" id="ice3" name="ices">
            <label for="ice3">
                <span class="ice less-ice">
                    <img class="option-img" src="/static/images/공차옵션사진/얼음양/Full Ice.png">Full Ice
                </span>
            </label>
        </div>
    </div>

    <div class="modal-sugarbox">
        <p>sugar (필수,1/1)</p>

        <div class="modal-sugarbox-radios">
            <input type="radio" id="sugar1" name="sugars">
            <label for="sugar1">
                <span class="sugar sugar-0" >
                    <img class="option-img" src="/static/images/공차옵션사진/당도/당도0.png">0%
                </span>
            </label>
            <input type="radio" id="sugar2" name="sugars">
            <label for="sugar2">
                <span class="sugar sugar-0" >
                    <img class="option-img" src="/static/images/공차옵션사진/당도/당도30.png">30%
                </span>
            </label>
            <input type="radio" id="sugar3" name="sugars">
            <label for="sugar3">
                <span class="sugar sugar-0" >
                    <img class="option-img" src="/static/images/공차옵션사진/당도/당도50.png">50%
                </span>
            </label>
            <input type="radio" id="sugar4" name="sugars">
            <label for="sugar4">
                <span class="sugar sugar-0" >
                    <img class="option-img" src="/static/images/공차옵션사진/당도/당도70.png">70%
                </span>
            </label>
            <input type="radio" id="sugar5" name="sugars">
            <label for="sugar5">
                <span class="sugar sugar-0" >
                    <img class="option-img" src="/static/images/공차옵션사진/당도/당도100.png">100%
                </span>
            </label>
        </div>
    </div>

    <div class="modal-toppingbox">
        <p>Topping(선택,0/2)</p>

        <div class="topping-slideShow">
            
                <ul class="slides">
                    <li>
                        <input type="checkbox" id="topping1" name="topping" onclick="countCheck(this);">
                        <label for="topping1">
                            <span class="topping topping-">
                                <img class="option-img" src="/static/images/공차옵션사진/펄/펄(타피오카).png">펄 +700
                            </span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="topping2" name="topping" onclick="countCheck(this);">
                        <label for="topping2">
                            <span class="topping topping-">
                                <img class="option-img" src="/static/images/공차옵션사진/펄/알로에.png">알로에 +700
                            </span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="topping3" name="topping" onclick="countCheck(this);">
                        <label for="topping3">
                            <span class="topping topping-">
                                <img class="option-img" src="/static/images/공차옵션사진/펄/코코넛.png">코코넛 +700
                            </span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="topping4" name="topping" onclick="countCheck(this);">
                        <label for="topping4">
                            <span class="topping topping-">
                                <img class="option-img" src="/static/images/공차옵션사진/펄/화이트펄.png">화이트펄 +700
                            </span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="topping5" name="topping1" onclick="countCheck(this);">
                        <label for="topping5">
                            <span class="topping topping-">
                                <img class="option-img" src="/static/images/공차옵션사진/펄/딸기쥬얼리.png">딸기쥬얼리 +700
                            </span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="topping6" name="topping" onclick="countCheck(this);">
                        <label for="topping6">
                            <span class="topping topping-">
                                <img class="option-img" src="/static/images/공차옵션사진/펄/치즈폼.png">치즈폼 +900
                            </span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="topping7" name="topping" onclick="countCheck(this);">
                        <label for="topping7">
                            <span class="topping topping-"><img class="option-img" src="/static/images/공차옵션사진/펄/펄(타피오카).png">펄x2 +1400</span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="topping8" name="topping" onclick="countCheck(this);">
                        <label for="topping8">
                            <span class="topping topping-"><img class="option-img" src="/static/images/공차옵션사진/펄/알로에.png">알로에x2 +1400</span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="topping9" name="topping" onclick="countCheck(this);">
                        <label for="topping9">
                            <span class="topping topping-"><img class="option-img" src="/static/images/공차옵션사진/펄/코코넛.png">코코넛x2 +1400</span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="topping10" name="topping" onclick="countCheck(this);">
                        <label for="topping10">
                            <span class="topping topping-"><img class="option-img" src="/static/images/공차옵션사진/펄/화이트펄.png">화이트펄x2 +1400</span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="topping11" name="topping" onclick="countCheck(this);">
                        <label for="topping11">
                            <span class="topping topping-"><img class="option-img" src="/static/images/공차옵션사진/펄/딸기쥬얼리.png">딸기쥬얼리x2 +1400</span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="topping12" name="topping" onclick="countCheck(this);">
                        <label for="topping12">
                            <span class="topping topping-"><img class="option-img" src="/static/images/공차옵션사진/펄/치즈폼.png">치즈폼x2 +1800</span>
                        </label>
                    </li>
                </ul>
            
            <span class="moving-left">&lt;</span>
            <span class="moving-right">&gt;</span>
            
        </div>
        
    </div>

    <div class="btn-box">
        <button class="btn modal-cancel" onClick="javascript:popClose();">취소</button>
        <button class="btn modal-addcart" onClick="javascript:popClose();">주문담기</button>
    </div>
</div>
    <!-- //modal 영역 -->
    </div>
</body>
<script src="/static/js/main.js"></script>
<script src="/static/js/modal.js"></script>
<script src=/static/js/option.js></script>
<script src="/static/js/slideShow.js"></script>

</html>